retraining-pipeline/src/state_machine_definition.json
{
  "Comment": "ML retraining pipeline: preprocess → train → evaluate → conditional deploy",
  "StartAt": "Preprocess",
  "States": {
    "Preprocess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync:2",
      "Parameters": {
        "ProcessingJobName.$": "States.Format('preprocess-{}', $$.Execution.Name)",
        "ProcessingResources": {
          "ClusterConfig": {
            "InstanceCount": 1,
            "InstanceType": "ml.m5.large",
            "VolumeSizeInGB": 5
          }
        },
        "AppSpecification": {
          "ImageUri.$": "$.preprocessing_image_uri",
          "ContainerEntrypoint": ["python3", "src/main.py"]
        },
        "RoleArn.$": "$.sagemaker_role_arn",
        "ProcessingInputs": [
          {
            "InputName": "raw-data",
            "S3Input": {
              "S3Uri.$": "$.input_s3_uri",
              "LocalPath": "/opt/ml/processing/input",
              "S3DataType": "S3Prefix",
              "S3InputMode": "File"
            }
          }
        ],
        "ProcessingOutputs": [
          {
            "OutputName": "processed-data",
            "S3Output": {
              "S3Uri.$": "$.processed_s3_uri",
              "LocalPath": "/opt/ml/processing/output",
              "S3OutputMode": "EndOfJob"
            }
          }
        ]
      },
      "Next": "Train"
    },
    "Train": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync:2",
      "Parameters": {
        "TrainingJobName.$": "States.Format('train-{}', $$.Execution.Name)",
        "AlgorithmSpecification": {
          "TrainingInputMode": "File",
          "TrainingImage.$": "$.training_image_uri"
        },
        "RoleArn.$": "$.sagemaker_role_arn",
        "InputDataConfig": [
          {
            "ChannelName": "train",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri.$": "$.processed_s3_uri",
                "S3DataDistributionType": "FullyReplicated"
              }
            }
          }
        ],
        "OutputDataConfig": {
          "S3OutputPath.$": "$.model_output_s3_uri"
        },
        "ResourceConfig": {
          "InstanceType": "ml.m5.large",
          "InstanceCount": 1,
          "VolumeSizeInGB": 5
        },
        "StoppingCondition": {
          "MaxRuntimeInSeconds": 3600
        },
        "HyperParameters": {
          "max_depth": "5",
          "learning_rate": "0.1",
          "n_estimators": "100"
        }
      },
      "ResultPath": "$.training_result",
      "Next": "Evaluate"
    },
    "Evaluate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lambda_evaluator_arn",
        "Payload": {
          "training_job_name.$": "$.training_result.TrainingJobName",
          "ssm_param_path.$": "$.ssm_baseline_param"
        }
      },
      "ResultPath": "$.evaluation_result",
      "Next": "ShouldDeploy"
    },
    "ShouldDeploy": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.evaluation_result.Payload.deploy",
          "BooleanEquals": true,
          "Next": "Deploy"
        }
      ],
      "Default": "NotifyNoDeploy"
    },
    "Deploy": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createModel.sync:2",
      "Comment": "Simplified: in production this would updateEndpoint or createEndpoint",
      "Parameters": {
        "ModelName.$": "States.Format('auto-model-{}', $$.Execution.Name)",
        "PrimaryContainer": {
          "Image.$": "$.training_image_uri",
          "ModelDataUrl.$": "$.training_result.ModelArtifacts.S3ModelArtifacts"
        },
        "ExecutionRoleArn.$": "$.sagemaker_role_arn"
      },
      "Next": "NotifyDeployed"
    },
    "NotifyDeployed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Message.$": "States.Format('Model deployed: execution {}. AUC improvement exceeded threshold.', $$.Execution.Name)",
        "Subject": "ML Pipeline: Model Deployed"
      },
      "End": true
    },
    "NotifyNoDeploy": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Message.$": "States.Format('No deployment: execution {}. AUC improvement did not meet threshold.', $$.Execution.Name)",
        "Subject": "ML Pipeline: Retrained, Not Deployed"
      },
      "End": true
    }
  }
}
